body{
    margin: 0;
    background-image: url('./img/Без\ названия.png'); 
    background-size: cover;
    background-color:lightblue;
    font-family: 'Bad Script', cursive;
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}
.number__container{
    width: 100%;
}
h1{
    color: darkslategray;
    text-align: center;
}
#input_value, #outputWords{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
